@import "tailwindcss";

@theme {
  @keyframes fadeIn {
    from { 
      opacity: 0; 
      transform: translateY(20px); /* Aumentato un po' il movimento per enfasi */
    }
    to { 
      opacity: 1; 
      transform: translateY(0); 
    }
  }

  /* 1.2s per un effetto molto calmo e professionale */
  --animate-fade-in: fadeIn 1.2s ease-out forwards;
}